{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}">
    </a>
    <h1>Josema #TIDCampus</h1>
    <p>¡Sigue nuestras dos semanas de trabajo y experiencias!</p>
    <a type="button" class="btn btn-lg btn-default" href="http://livingfue.com/proyectos/tid-campus.html"><span class="glyphicon glyphicon-flash"></span>#LivingTID</a>
    <a class="twitter-timeline"  href="https://twitter.com/hashtag/LivingTID" data-widget-id="659428832403955713">Tweets sobre #LivingTID</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          
  </div>
</div>

{% endblock %}
